.btnWrap {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

.btn {
	min-width: 120px;
	padding: 10px 15px;
	font-weight: 600;
	cursor: pointer;
	color: #222;
	margin-top: 10px;
	transition: all 0.1s;

	&__primary {
		background: $blue-color;
		color: #fff;
	}

	&:hover {
		background: $blue-color;
		color: #fff;
	}
}

.header {
	font-weight: 700;
	font-size: 20px;
	padding-bottom: 5px;
	margin-top: 1rem;
	margin-bottom: 5px;
	display: flex;
	flex-direction: column;

	.flex {
		display: flex;
		align-items: center;
		gap: 5px;
	}

	span {
		display: block;
		font-size: 14px;
		font-weight: normal;
	}

	img {
		width: 30px;
	}
}


.clicktoadd {
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
	margin-top: 10px;

	select,
	input {
		border: none;
		outline: none;
		border: 1px solid #ccc;
		padding-left: 1rem;
		width: 150px;
		height: 40px;
		border-radius: 5px;
	}

	svg {
		width: 30px;
		height: 30px;
		fill: $blue-color;
		cursor: pointer;
		margin-top: 5px;

		&:hover {
			fill: $dark-blue-color;
		}
	}
}

.click_btn {
	background: $blue-color;
	width: 250px;
	font-weight: 600;
	color: #fff;
	height: 50px;
	cursor: pointer;
	margin: 5px 0;
}

.svg {
	width: 30px;
	height: 30px;
	fill: $blue-color;
	cursor: pointer;
	margin-top: 5px;

	&:hover {
		fill: $dark-blue-color;
	}
}
